.about--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__text {
  color: #828282;
  font-size: 1.125rem;
  text-align: justify;
  line-height: 2rem;
  max-width: 29.8125rem;
  margin-right: 4rem;
}

.about__img {
  width: 33.75rem;
  height: 34.375rem;
  margin-left: 0;
}
