.card--services {
  width: 21.25rem;
  height: 23rem;
  background-color: #151515;
  border: 1px solid #4bb164;
}

.card__title--services {
  text-align: center;
  margin-top: 1.9375rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
}

.card__text--services {
  max-width: 14rem;
  color: #828282;
  text-align: center;

  margin-left: 3.4375rem;
  margin-bottom: 2.125rem;
}

img {
  margin-left: 7.5rem;
  width: 100px;
  height: 100px;
  margin-top: 1.875rem;
}
